/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: $base-font-color;
}

html {
    font-size: 10px; //62.5%; // TODO change to font-size 10px when a chance is available  
    line-height: 1.4;
    box-sizing: border-box;
    //overflow-y: scroll;
}
body {
    @include rem(font-size, 13px);
    // position: relative; // setting by default because I'm always needing something fixed by viewport.
    background-color: $base-bg-color;
    font-family: $base-font-family; //$futura_book;
}

html, body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.picture {
    width:100%;
}

::-webkit-input-placeholder
{
   color: $base-font-color;
   font-family: $base-font-family;
}
:-ms-input-placeholder{
   color: $base-font-color;
   font-family: $base-font-family;
}
:-moz-placeholder{
   color: $base-font-color;
   font-family: $base-font-family;
}
::-moz-placeholder{
   color: $base-font-color;
   font-family: $base-font-family;
}

// attempt to remove all dotted lines..
a 
{
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus
    {
        outline: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
    }
}

strong { font-family: $base-font-family; }

::-moz-selection {
    background: $base-font-color;
    text-shadow: none;
    color: $base-font-color-alt;
}

::selection {
    background: $base-font-color;
    text-shadow: none;
    color: $base-font-color-alt;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $base-border-color;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
