// holding.scss
// holding page layout

body.holding {

	background-color: $holding-bg-color;
	color: $holding-font-color;

	#main {

		max-width:940px;
		min-height:527px;
		position:relative;
		margin:auto;
		overflow:hidden;

		@media (max-width:660px) {
			min-height:100%;
		}

		header {
			position:absolute;
			bottom:20px;
			right:20px;
			width:300px;
			text-align:right;	

			@media (max-width:660px) {
				width:100%;
				text-align:left;
				bottom:0;
				right:0;
				padding:20px;
			}

			.strapline {

				&#strapline1 {
					font-size:20px;
					line-height:25px;
					letter-spacing:0.02em;
				}

				&#strapline2 {
					font-size:11px;
					line-height:11px;
					letter-spacing:0.02em;
				}
			}

			#logo {
				width: 230px;
				//height:54px;
				padding:15px 0;
				display:inline-block;
			}	
		}

		#bgImage-container {
			width:55%;
			//height:409px;
			position:absolute;
			top:80px;
			left:330px;
			z-index:-1;
			@include opacity(1);
			@include transition-property(opacity);
			@include transition-duration(500ms);
			@include transition-timing-function($default-animation-timing);

			@media (max-width:660px) {
				@include opacity(0);
			}
		}

		#bigQuestion-container {
			width:360px;
			padding-top:50px;
			padding-left:20px;
			font-size:45px;
			line-height:55px;
			letter-spacing:0.02em;
			font-weight:700;
			//background:rgba(0,0,0,0.2);

			@media (max-width:660px) {
				width:100%;
				padding:20px;
				padding-bottom:180px;
				font-size:38px;
				line-height:41px;
			}
		}

		#bigQuestion {
			@include opacity(0);
			@include transition-property(opacity);
			@include transition-duration(500ms);
			@include transition-timing-function($default-animation-timing);
			
			&.active {
				@include opacity(1);
			}
		}
	}

}