// Media query helpers. These make producing IE layouts
// super easy.

// The base css you write should be for mobile. You can
// then add desktop styles on top.
//
// Usage:
//
//   div.columns {
//     border: 1px solid;
//
//     @include media(desktop){
//       width: 30%;
//       float: left;
//     }
//     
//   }


$is-ie: false !default;
$mobile-ie6: true !default;

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@mixin media($size: false, $max-width: false, $min-width: false, $ignore-for-ie: false) 
{
    @if $is-ie and ($ignore-for-ie == false) 
    {
        @if $size != mobile 
        {
            @if ($ie-version == 6 and $mobile-ie6 == false) or $ie-version > 6 
            {
                @content;
            }
        }
    } 
    @else 
    {
        @if $size == desktop 
        {
            @media (min-width: 769px) // 769px, 76.9rem, 59.154em
            {
                @content;
            }
        } @else if $size == tablet 
        {
            @media (min-width: 641px) and  (max-width: 768px) // 641px, 64.1rem, 49.308em
            {
                @content;
            }
        } @else if $size == mobile 
        {
            @media (max-width: 640px) //49.231em, ,640px, 64rem
            {
                @content;
            }
        } @else if $size == not-mobile 
        {
            @media (min-width: 641px) //49.231em, ,640px, 64rem
            {
                @content;
            }
        } @else if $size == not-desktop
        {
            @media (max-width: 768px) //49.231em, ,640px, 64rem
            {
                @content;
            }
        } @else if $max-width != false and $min-width != false 
        {
            @media (max-width: $max-width) and (min-width: $min-width)
            {
                @content;
            }
        } @else if $max-width != false 
        {
            @media (max-width: $max-width)
            {
                @content;
            }
        } @else if $min-width != false 
        {
            @media (min-width: $min-width)
            {
                @content;
            }
        } @else 
        {
            @media (min-width: $size)
            {
                @content
            }
        }
    }
}