// set all colour varialbes here, 
// please don't inline the colours or use them straight into the stylesheet

$base-font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
$alt-font-family: 'Arial', 'Helvetica', 'Arial', sans-serif;

$base-font-color: rgb(255,255,255); // base font colour across site, based on the logo colour..
$base-font-color-alt: #FFFFFF;
$base-bg-color: rgb(255,255,255);
$holding-bg-color : #e35c4a;
$holding-font-color : #F0F0F0;;
$base-border-color: #F0F0F0;

// btns
$btn-text-color: #FFF;
$btn-bg-color: #989482;

// inputs
$input-border-color: #CCC;
$input-text-color: #CCC;

// animations
$default-animation-speed: 0.5s;
$default-animation-timing: ease-in-out;





